{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A question for drag and drop ranking. Allows respondents to rank items against each other by placing them in order of preference. Is appropriate for short lists (e.g. 5-7 items). Is optimized for use with keyboard (Tab, Shift-Tab, and Up/Down arrow keys) and under mobile devices., jQuery Survey Library Example</title><meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/survey-jquery@1.8.77/survey.jquery.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="./index.css"></head>
    <body>
        <div id="surveyElement" style="display:inline-block;width:100%;"></div>
        <div id="surveyResult"></div>
        <script type="text/javascript">
        Survey
    .StylesManager
    .applyTheme("bootstrap");
Survey.defaultBootstrapCss.navigationButton = "btn btn-green";

var json = {
    "pages": [
        {
            "name": "page1",
            "elements": [
                {
                    "type": "ranking",
                    "name": "smartphone-features",
                    "title": "Please rank the following smartphone features in order of importance:",
                    "isRequired": true,
                    "choices": [
                        "Battery life",
                        "Screen size",
                        "Storage space",
                        "Camera quality",
                        "Durability",
                        "Processor power",
                        "Price"
                    ]
                }
            ]
        }
    ]
};

window.survey = new Survey.Model(json);

survey
    .onComplete
    .add(function (sender) {
        document
            .querySelector('#surveyResult')
            .textContent = "Result JSON:\n" + JSON.stringify(sender.data, null, 3);
    });

$("#surveyElement").Survey({model: survey});

        </script>
    </body>
</html>